<!DOCTYPE html>
<html lang="ja">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-E486PCCHX0"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-E486PCCHX0');
	</script>
	
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>監査報酬データベース</title>
	<!-- CSS読込 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- JavaScript読込 -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="padding-top: 5rem">
	<nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark fixed-top">
		<div class="container-fluid">
			<a href="/" class="navbar-brand">監査報酬データベース(β)</a>
		</div>
	</nav>
	<div class='container-fluid'>
	<!-- <div style="padding-top: 1rem"><button type="submit">ダウンロード(実装予定)</button></div> -->
	<input type="search" class="light-table-filter" data-table="table" placeholder="検索" />
	<form action="/" method="POST">
	<div class="form-check">
		<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value=1>
		<label class="form-check-label" for="flexRadioDefault1">
		  昇順
		</label>
	  </div>
	  <div class="form-check">
		<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value=0 checked>
		<label class="form-check-label" for="flexRadioDefault2">
		  降順
		</label>
	  </div>
	  <input type="submit" value="並び替え">
	</form>

	  <!-- <div class="accordion" id="accordionExample">
		<div class="accordion-item">
		  <h2 class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			  監査法人で絞り込む
			</button>
		  </h2>
		  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<select class="form-select" multiple aria-label="multiple select example">
					{% for i in auditor: %}
					<option value="1">{{ i }}</option>
					{% endfor %}
				  </select>
				  {% for i in auditor: %}
				  <div class="form-check">
					
					<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
					<label class="form-check-label" for="flexCheckChecked">
						{{ i }}
					</label>
					
				  </div>
				  {% endfor %}
			</div>
		  </div>
		</div>
	</div>
	<div style="padding-top: 1rem"><button type="submit">絞り込む</button></div>
 -->
	<div class="table_frame">
	  <table class="table tb01 table-hover align-middle">
		<thead>
			<tr class="head">
				<th>社名</th>
				<th class="place">期末日</th>
				<th class="place">監査報酬</th>
				<th>監査法人</th>
				<th>KAM1</th>
				<th>KAM2</th>
				<th>KAM3</th>
				<th>KAM4</th>
				<th>KAM5</th>
			</tr>
		</thead>
		<tbody>
			{% for i in record: %}
			<tr>
				{% for j in i: %}
				{% if loop.index == 1 %}
				<td>{{ j }}</td>
				{% elif loop.index == 2 %}
				<td data-label="期末日">{{ j }}</td>
				{% elif loop.index == 3 %}
				<td data-label="監査報酬">{{ '{:,}'.format(j) }}</td>
				{% elif loop.index == 4 %}
				<td data-label="監査法人">{{ j }}</td>
				{% elif loop.index == 5 %}
				<td data-label="KAM1">{{ j }}</td>
				{% elif loop.index == 6 %}
				<td data-label="KAM2">{{ j }}</td>
				{% elif loop.index == 7 %}
				<td data-label="KAM3">{{ j }}</td>
				{% elif loop.index == 8 %}
				<td data-label="KAM4">{{ j }}</td>
				{% elif loop.index == 9 %}
				<td data-label="KAM5">{{ j }}</td>
				{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
	
	</div>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>

<!-- https://tanuhack.com/flask-client2server/ -->